#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.logo {
  height: 7em;
}

.btn.decrement{
  background-color: crimson;
  color: white;
  transform: scale(1);
}

.btn.increment{
  background-color: forestgreen;
  color: white;
  transform: scale(1.7);
}

.btn.manualset{
  background-color: cornflowerblue;
  color: white;
}

.counter-block{
  margin-bottom: 30%;
}

.button-group{
  display: flex;
  gap: 20%;
  justify-content: center;
  flex-wrap: nowrap;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0.5em;
}

.read-the-docs {
  color: #888;
}
